* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 5%;
    margin: 5%;
}

h1 {
    text-align: center;
}

input,
button {
    padding: 15px;
    margin: 10px;
    width: 45%;
    border: 1px solid gray;
    border-radius: 10px;
}

input:focus {
    outline: none;
    border-color: lightblue;
    box-shadow: 0 0 10px lightblue;
}

.form__section--checkbox--agree {
    margin-left: 0%;
    padding-block: 0%;
    width: 20%;
}

.form__section--checkbox--agree input {
    width: 5%;
}

form {
    margin-left: 5%;
}

.form__section--Mobile--Email {
    display: flex;
    flex-direction: column;
}

.form__section--Mobile--Email input {
    width: 92%;
}

.form__section--Conditions {
    display: flex;
    flex-direction: row;
    width: 100%;
}

p {
    width: 63%;
}

.form__button--register,
span {
    background-color: rgb(90, 153, 222);
    color: aliceblue;
}

.form__button--signIn {
    background-color: rgb(108, 188, 108);
    color: aliceblue;
}